*.apk
*.csproj.user
*.dotCover
*.DotSettings.user
*.obb
*.pbxuser
*.psd*
*.pyc
*.suo
*.xcuserdata
*.xcuserstate

.gradle
.DS_Store
.yakelibhash
_ReSharper.Caches
_ReSharperPlatformVs*
Assembly-CSharp.csproj
csc.rsp

**/.idea/contentModel.xml
**/.idea/dictionaries
**/.idea/httpRequests
**/.idea/indexLayout.xml
**/.idea/other.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/workspace.xml
**/.vs
**/.idea/*

unity/Temp

/src/**/obj
/src/**/bin
/src/**/*.meta
/src/publish
