*.apk
*.csproj.user
*.dotCover
*.DotSettings.user
*.obb
*.pbxuser
*.psd*
*.pyc
*.suo
*.xcuserdata
*.xcuserstate

.gradle
.DS_Store
.yakelibhash
_ReSharper.Caches
_ReSharperPlatformVs*
Assembly-CSharp.csproj
csc.rsp
dump.rdb
keystore_*.properties
DartsOfFury.keystore
dofKeyStore.properties

**/.idea/contentModel.xml
**/.idea/dictionaries
**/.idea/httpRequests
**/.idea/indexLayout.xml
**/.idea/other.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/workspace.xml
**/.vs


client/scripts/unity/automate_build_run.scpt
client/scripts/unity/automate_rebuild_run.scpt
client/scripts/unity/bringAllUnityToFront.scpt

unity/.gradle
unity.userprefs
unity/Assembly-CSharp-Editor.csproj
unity/unity.sln
unity/Assets/bin/*.dll
unity/Assets/bin/*.pdb
unity/Assets/bin/*.pdb.meta
unity/Assets/bin/Yakuto.Darts.Android.dll.meta
unity/Assets/bin/Yakuto.Darts.Editor.dll.meta
unity/Assets/bin/Yakuto.Darts.Harnesses.dll.meta
unity/Assets/bin/Yakuto.Darts.iOS.dll.meta
unity/Assets/Editor/bin/*
unity/Assets/Plugins/Android/playPlugin.aar*
unity/Assets/plugins/Android/res/values/facebook.xml
unity/Assets/plugins/Android/res/values/facebook.xml.meta
unity/Assets/Plugins/Android/Yakuto/playPlugin.aar*
unity/Assets/Plugins/iOS/Yakuto/libDartsOfFuryPlugin.a*
unity/Assets/StreamingAssets/google-services-desktop.json*
unity/Assets/StreamingAssets/ybuild.json*
unity/ExternalImages
unity/Library
unity/localStorage
unity/logs
unity/obj
unity/publish/Android/.idea
unity/publish/Android/build
unity/publish/Android/build.gradle.NEW
unity/publish/Android/launcher/src
unity/publish/Android/launcher/build
unity/publish/Android/launcher/build.gradle
unity/publish/Android/launcher/build.gradle.NEW
unity/publish/Android/launcher/google-services.json
unity/publish/Android/unityLibrary/build
unity/publish/Android/unityLibrary/build.gradle
unity/publish/Android/unityLibrary/build.gradle.NEW
unity/publish/Android/unityLibrary/build/generated/source/buildConfig/debug/uk/co/yakuto/DartsOfFury/BuildConfig.java
unity/publish/Android/unityLibrary/libs
unity/publish/Android/unityLibrary/src
unity/publish/Android/unityLibrary/unity-android-resources
unity/publish/Android-*.symbols.zip
unity/publish/il2cppOutput
unity/publish/iOS/build
unity/publish/iOS/Classes/Native
unity/publish/iOS/Data/*
unity/publish/iOS/Facebook
unity/publish/iOS/Firebase
unity/publish/iOS/Google
unity/publish/iOS/GoogleService-info.plist
unity/publish/iOS/Libraries
unity/publish/iOS/publish
unity/publish/iOS/Unity-iPhone Tests
unity/publish/iOS/Unity-iPhone.xcodeproj/project.xcworkspace
unity/src/android/playPlugin/.externalNativeBuild
unity/src/android/playPlugin/.idea
unity/src/ios/DartsOfFuryPlugin/.idea
unity/src/ios/DartsOfFuryPlugin/build
unity/src/ios/DartsOfFuryPlugin/publish
unity/src/mac/MacEditorPlugin/publish
unity/Temp

/src/**/obj
/src/**/bin
/src/**/*.meta
/src/.idea/.idea.Yakuto.Ppk/.idea/httpRequests
/src/publish

/src/Yakuto.Ppk.Cloud.GameApi.Web/appsettings.json
/src/Yakuto.Ppk.Cloud.GameApi.Web/resources/googleCredential.json